<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .card {
            width: 50%;
            margin-top: 100px;
            margin-left: 150px;
        }

        .navbar {
            background-color: #0054AD; /* Blue navbar */
        }

        .navbar-brand {
                color: #fff; /* White text */
        }

        .navbar-nav .nav-link {
            color: #fff; /* White text */
        }
           
    </style>

</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div>
                <a class="navbar-brand" href="#">Dealership Review</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                        <li class="nav-item">
                            <span class="nav-link">Welcome, {{ user.username }}</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'djangoapp:signup' %}">Create an ancount</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <!-- Review form -->
    <div class="card" style="background-color: #152733; margin-right: 150px;">
    <form method="post" action="{% url 'djangoapp:add_review' dealer.id %}" >
    {% csrf_token %}
        <div class="card-body">
            <div class="card-header">
            <h2 style="color:#fff;">Reviews for {{dealer.full_name}}</h2>
            </div>
                <!-- Textarea for review content -->
                <div class="mb-3" style="width: 50%; ">
                    <label for="content" style="font-weight: bold; font-size: large;color:#fff;" class="form-label">Enter the review content:</label>
                    <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                </div>
                <br>
                <!-- Checkbox for purchase confirmation -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                    <label class="form-check-label" for="purchasecheck" style="font-weight: bold; font-size: 1em;color:#fff;">
                        Has purchased the car from {{ dealer.full_name }}?
                        <p style="font-weight: normal; font-size: 0.8em;color:#fff;">(select purchased car information below if checked)</p>
                    </label>
                </div>                
                <!-- Bootstrap dropdown to select a car -->
                <label for="car" style="font-weight: bold; font-size: 1rem; margin-left: 16px; margin-top: 10px;color:#fff;">Select your car (model-make-year):</label>
                <select name="car" id="car" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="margin-left: 16px;">
                    <option selected>Choose Your Car Model</option>
                    {% for car in cars %}
                        <option value="{{ car.id }}">{{ car.car_type }} - {{ car.name }} - {{ car.year|date:"Y" }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="id" value="{{ id }}">
                <!-- Date input for purchase date -->
                <br>
                <div class="row" style="margin-left: 7px;">
                    <div class="col-md-3"> <!-- This centers the column and makes it take half the width on medium devices -->
                        <label for="purchasedate" style="font-weight: bold; font-size: 0.75rem;color:#fff;">Select Your Purchase Date:</label>
                        <input class="date-own form-control" type="date" name="purchasedate" id="purchasedate" required>
                    </div>
                </div>
                <br>
                <!-- Submit button -->
                <button type="submit" class="btn" style="background-color:#75B8FF; color:#212121FF;;margin-left:80%;">Add Review</button>
                
            </div>
    </form>
    
    <!-- Include jQuery and the datepicker plugin script -->
    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
    </body>
</html>