<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

        

    <!-- Add reviews as cards -->
    <h2>Reviews for {{ dealer.full_name }}</h2>
    <h1>{{dealer.city}}</h1>
    <div class="card-columns">
        {% for review in reviews %}
            <div class="card">
                <!-- Review content -->
                <div class="card-body">
                    <h5 class="card-title">{{ review.car_model }}, {{ review.car_make }}</h5>
                    <h5 class="card-title">{{ review.car_year }}</h5>
                    <p class="card-text">{{ review.review }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
</html>