<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!-- Custom styles -->
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div>
            <a class="navbar-brand" href="#">Dealership Review</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'djangoapp:add_review' dealer.id %}">
                            <button class="button-66">Leave Your Review Here</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Welcome, {{ user.username }}</span>
                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="card-details" style="display: flex; flex-wrap:wrap;">
        <div class="card border-info mb-3" style="max-width: 65rem; height: 10rem">
            <div class="card-header">Car Dealership Details</div>
            <div class="card-body text-info">
              <h5 class="card-title"> Dealer Name : {{dealer.full_name}}</h5>
              <p class="card-text"> Address: {{dealer.city}}, {{dealer.state}}, {{dealer.address}}, {{dealer.zip}}</p>
            </div>
        </div>
    </div>
    <div class="card-details" style="display: flex; flex-wrap:wrap;justify-content:space-between; margin-right:20px">
        <!-- This is where reviews will be displayed -->
        {% for review in reviews %}
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <img class="card-img-left" src="{{ MEDIA_URL }}/emoji/{{ review.sentiment }}.png" alt="{{ review.sentiment }}" style="width: 50px; height: 50px;">
                <div class="card-body">
                    <h5 class="card-title">Model: {{ review.car_model }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Year: {{ review.car_year }}</h6>
                    <p class="card-text">Review: {{ review.review }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    

</body>
</html>